body {
  padding-left: 20%;
  background-color: whitesmoke;
}
h1 {
  font-size: 4rem;
  color: rgb(255, 204, 0);
}
form,
label {
  font-size: 2rem;
}

form div {
  margin-top: 2rem;
  width: 90%;

  /* border: 2px solid red; */
}

input,
select {
  width: 90%;
  height: 3rem;
  font-size: 1.3rem;
  color: rgb(111, 111, 111);
  border: 2px solid lightblue;
  border-radius: 5px;
}

select .choose {
  color: darkgray;
}

.submit {
  width: 82%;
  height: 3rem;
  background-color: green;
  color: white;
  margin-top: 4rem;
  border-radius: 10px;
}
.result,
td {
  font-size: 2rem;
}
td,
th {
  border: 2px solid rgb(155, 155, 98);
}

.result h2 {
  color: rgb(255, 204, 0);
  font-size: larger;
}
